header {
  background-color: white;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 20;
  border-bottom: 1px solid black;
}

header img {
  display: flex;
  padding: 10px;
}

header p {
  align-self: center;
  color: MediumAquamarine;
}

nav {
  align-items: center;
  display: flex;
  top: 0;
  right: 0;
  height: 80px;
  position: fixed;
}

nav ul {
  margin-right: 50px;
}

nav li {
  display: inline-block;
  margin: 10px;
}

nav a {
  color: black;
}

div {
  border: 1px solid black;
}

.main {
  align-items: stretch;
  display: flex;
  margin-top: 90px;
  width: 1232px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.story {
}

.body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.main span {
  display: flex;
}

.mother {
  background-image: url("../images/img-story-main.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  display: flex;
  height: 300px;
}

.earth {
  background-image: url("../images/img-story-2.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  height: 300px;
  text-align: center;
}

.research {
  background-image: url("../images/img-story-3.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  height: 300px;
  text-align: center;
}

.cats {
  background-image: url("../images/img-story-1.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  height: 300px;
  text-align: center;
}
